<h2>Choose the colors</h2>
			<div class="container">
			<div class="group">
		<div id="swatch1" class="swatch-box">
			<div class="swatch-outer">
				<h4 class="white">Accent</h4>
				<div class="swatch-inner" style="background-color: rgb(255, 204, 17);">
					</div>
					</div>
		</div>
			<div  id="swatch2" class="swatch-outer">
				<h4 class="white">Text</h4>
				<div class="swatch-inner" style="background-color: rgb(255, 204, 17);">
					</div>
					</div>
			<div id="swatch3"class="swatch-outer">
				<h4 class="white">Background</h4>
				<div class="swatch-inner" style="background-color: rgb(255, 204, 17);">
					</div>
					</div>
			</div></div>
